body {
    background-color: rgb(238, 240, 243);
}

#tituloRegistroMovimiento {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;

}

table {
    background-color: white;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

th {
    padding: 5px;
    background-color: rgb(80, 139, 234);
    font-size: 17px;
    border: 0.5px solid black;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    text-align: center;
}

td {
    font-size: 15px;
    background-color: rgb(228, 231, 236);
    border: 0.5px solid black;
    padding: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tdSearch {
    background-color: rgb(238, 240, 243);
    border: 0.5px solid black;
}

#tdDelete {
    background-color: rgb(238, 240, 243);
    border: 0.5px solid black;
}

.contBtnIndex{
    margin-top: 15px;
}

#backIndex{
    margin: 150px;
    padding: 50px;
    margin-left: 630px;
}