<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{css/style_Formulario.css}">
    <link rel="stylesheet" th:href="@{/css/stiless.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Formulario Registro</title>
</head>

<header class="contheader" id="contenca">
    <div class="titulologo">
        <h1 class="titulo">House Center Web</h1>
    </div>
    <div class="logo">
        <img src="" alt="">
    </div>
</header>

<body>
    <form class="form-register" th:action="@{/movements/save}" th:objec="${movimientoinsertar}" method="POST">
        <h4>Formulario Movimiento de Dinero</h4>

        <label for="idMovimiento">ID del movimiento</label>
        <input class="controls" type="text" name="idMovimiento" id="idMovimiento" required :field="*{idMovimiento}">

        <label for="MontoMovimiento">Monto movimiento</label>
        <input class="controls" type="text" name="MontoMovimiento" id="MontoMovimiento" required :field="*{montoMovimiento}">

        <label for="MontosPositivos">Montos Positivos</label>
        <input class="controls" type="text" name="MontosPositivos" id="MontosPositivos" :field="*{montosPositivos}">

        <label for="MontosNegativos">Montos Negativos</label>
        <input class="controls" type="text" name="MontosNegativos" id="MontosNegativos" :field="*{montosNegativos}">

        <label for="ConceptoMovimiento">Concepto Movimiento</label>
        <input class="controls" type="text" name="ConceptoMovimiento" id="ConceptoMovimiento" :field="*{conceptoMovimiento}">

        <label for="Empresa">Nit Empresa</label>
        <input class="controls" type="text" name="Empresa" id="Empresa" :field="*{empresa.nitEmpresa}">

        <label for="Empleado">Documento Empleado</label>
        <input class="controls" type="text" name="Empleado" id="Empleado" :field="*{empleado.documento}">

        <a href="#">Aceptar terminos y Condiciones</a>
        <input class="botons" type="submit" value="Registrar Movimiento">
    </form>
</body>
</html>