<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style_Formulario.css}">
    <link rel="stylesheet" th:href="@{/css/stiless.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Actualización movimiento dinero</title>
</head>

<header class="contheader" id="contenca">
    <div class="titulologo">
        <h1 class="titulo">House Center Web</h1>
    </div>
    <div class="logo">
        <img src="" alt="">
    </div>
</header>

<body>
    <form class="form-register" th:action="@{/enterprises/movements/update}" th:object="${movimientoactualizar}" method="POST">
        <h4>Actualización Movimiento de Dinero</h4>

        <label for="idMovimiento" class="etiquetaDesc">ID del movimiento</label>
        <input class="controls" type="text" name="idMovimiento" id="idMovimiento" required th:field="*{idMovimiento}">

        <label for="MontoMovimiento" class="etiquetaDesc">Monto movimiento</label>
        <input class="controls" type="text" name="MontoMovimiento" id="MontoMovimiento" required th:field="*{montoMovimiento}">

        <label for="MontosPositivos" class="etiquetaDesc">Montos positivos</label>
        <input class="controls" type="text" name="MontosPositivos" id="MontosPositivos" required th:field="*{montosPositivos}">

        <label for="MontosNegativos" class="etiquetaDesc">Montos negativos</label>
        <input class="controls" type="text" name="MontosNegativos" id="MontosNegativos" required th:field="*{montosNegativos}">

        <label for="ConceptoMovimiento" class="etiquetaDesc">Concepto movimiento</label>
        <input class="controls" type="text" name="ConceptoMovimiento" id="ConceptoMovimiento" required th:field="*{conceptoMovimiento}">

        <label for="Empresa" class="etiquetaDesc">Nit empresa</label>
        <input class="controls" type="text" name="Empresa" id="Empresa" required th:field="*{empresa.nitEmpresa}">

        <label for="nombreEmpresa" class="etiquetaDesc">Nombre empresa</label>
        <input class="controls" type="text" name="nombreEmpresa" id="nombreEmpresa" required th:field="*{empresa.nombreEmpresa}">

        <label for="direccionEmpresa" class="etiquetaDesc">Dirección empresa</label>
        <input class="controls" type="text" name="direccionEmpresa" id="direccionEmpresa" required th:field="*{empresa.direccionEmpresa}">

        <label for="telefonoEmpresa" class="etiquetaDesc">Teléfono empresa</label>
        <input class="controls" type="text" name="telefonoEmpresa" id="telefonoEmpresa" required th:field="*{empresa.telefonoEmpresa}">

        <label for="Empleado" class="etiquetaDesc">Documento empleado</label>
        <input class="controls" type="text" name="Empleado" id="Empleado" required th:field="*{empleado.documento}">

        <label for="Nombre" class="etiquetaDesc">Nombre del Empleado</label>
        <input class="controls" type="text" name="Nombre" id="Nombre" required th:field="*{empleado.nombre}">

        <label for="Correo" class="etiquetaDesc">Correo Electronico</label>
        <input class="controls" type="text" name="Correo" id="Correo" required th:field="*{empleado.correo}">

        <label for="Rol" class="etiquetaDesc">Rol del Empleado</label>
        <input class="controls" type="text" name="Rol" id="Rol" required th:field="*{empleado.rol}">

        <input class="botons" type="submit" value="Actualizar Movimiento">


    </form>

    <div class="contBtnIndex">
        <a th:href="@{/}" id="backIndex"><button type="button" class="btn btn-info">Ir al index</button></a>
    </div>

</body>
</html>