<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/stiless.css}">

    <title>HouseCenter</title>

</head>
<div class ="Log" sec:authorize="!isAuthenticated()">
    <a class ="LogText"th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>

<!--<div class ="Log" sec:authorize="isAuthenticated()">
    <a class ="LogText" th:href="@{/cliente}">Carga Aplicación</a>
</div>-->


<body>
    <header class="contheader" id="contenca">
        <div class="titulologo">
            <h1 class="titulo">House Center Web</h1>
        </div>
        <div class="logo">
            <img src="../images/logoempresa.png" alt="Logo empresa" id="Logoempresa">
        </div>
    </header>

    <nav class="menu">
        <div class="contenedortitulo2" sec:authorize="isAuthenticated()">
            <h2 class="titulo2">Sistema de Gestión de Ingresos y Egresos</h2>
            <ul>
                <li class="lista"><a th:href="@{enterprises/movements/all}">Listar movimientos de dinero</a></li>
                <li class="lista"><a th:href="@{enterprises/movements/register}">Ingresar movimiento dinero</a></li>
            </ul>
        </div>
        
    </nav>


    
</body>
</html>